.swal2-container.swal2-shown {
    z-index: 999999!important;
}

.modal-form {
    margin-bottom: 0!important;
    border-radius: 0!important;
}

.formError .formErrorContent {
    background: #212529!important;
    border: 0px!important;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;

}

.formError .formErrorArrow div {
    background: #212529!important;
}

.formErrorArrow .formErrorArrowBottom {
    top: 0px!important;
}



input[type=checkbox] {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	z-index: -9999;
}
input[type=checkbox] + label {
	background: #dc3545;
	border-radius: 15.5px;
	box-shadow: inset 0 0 0 2px #dc3545;
	color: transparent;
	cursor: pointer;
	display: block;
	flex-shrink: 0;
	height: 31px;
	position: relative;
	transition: box-shadow 250ms ease-in-out;
	transform: translateZ(0);
	width: 51px;
}
input[type=checkbox] + label:not(:last-child) {
	margin-bottom: 10px;
}
input[type=checkbox] + label:before {
	color: rgba(0, 0, 0, 0.75);
	content: "" attr(data-color) "";
	display: block;
	font-size: 15px;
	margin-right: 10px;
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
}
input[type=checkbox] + label:after {
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	content: "";
	display: block;
	height: 27px;
	left: 2px;
	position: absolute;
	top: 2px;
	transition: transform 250ms ease-in-out;
	width: 27px;
	z-index: 1;
}

input[type=checkbox]:checked + .switch-color {
	box-shadow: inset 0 0 0 16px #28a745, inset 66.5px 0 0 0 #28a745;
}
input[type=checkbox]:checked + label:after {
	transform: translateX(20px);
}
